*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
body{
background-repeat: no-repeat;
}
    

    .fondotec{
    
        background-image: url("fondotecno.jpeg");
        
        background-repeat: no-repeat;
        height: 2000px;
        
        
        }
    
      
    
    .img{
    
    position: relative;
    
     
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("fondoinicio2.avif")
    
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: rgb(0, 0, 0);
    
    
     
    
    }

    .textos3{
    
        font-size: 40px;
        
        text-align: justify;
        
        color: rgb(11, 128, 224);
        
        
         
        
        }

        .textoso3{
    
            font-size: 40px;
            
            text-align: justify;
            
            color: rgb(0, 0, 0);
            
            
             
            
            }
        






    
.contenido{

    height: 280px;
    
    width: 100%;
    
    position: absolute;
    
    top: 410px;
    
     
    
    }
    
     
    
    .imagentecno{
    
     
    
    background-repeat: no-repeat;
    
    float: left;
    height: 300px;
    
    width: 500px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("imagen1.jpg");

    }
    

    
    .textotecno{
    
    text-align: justify;
    
    color: rgb(0, 0, 0);
    width: 90%;
    
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
    }
    .contenido{

        height: 100px;
        
        width: 1607%;
        
        position: absolute;
        
        top: 410px;
       
        
    }
            
    
       
        .imagenre{
        
         
        
            background-repeat: no-repeat;
            
            float: left;
            
            height: 280px;
            
            width: 250px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("imagenre.jpg");
        
            
            }
        
        
        
        .textore{
        
        text-align: justify;
        
        color: #000;
        width: 90%;
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       
        
        }
        .encabezado{
            height: 100px;
            width: 100%;
            text-align: center;
            font-size: 32px;
            
        }
        .contenido{

            height: 280px;
            
            width: 100%;
            
            position: absolute;
            
            top: 410px;
            
             
            
            }
            
             
            .contenido{

                height: 280px;
                
                width: 100%;
                
                position: absolute;
                
                top: 410px;
                
               

            }
                     
                 
                
              
          .imagenbio{
                
                 
                
                background-repeat: no-repeat;
                
                float:left;
                
                height: 300px;
                
                width: 500px;
                
                margin-left: 5px;
                
                margin-right:5px;
                background-image: url(genetica.jpeg);
                
                }
                
                
                
                .textobio{
        
                    text-align: justify;
                    
                    color: #000;
                    
                    font-size: 18px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                   
                    width: 90%;
                    }

                body{
    
    
                    background-repeat: no-repeat;
                    
                    }
                    
                    .fondore{
                    
                        background-image: url("Fondoreligion.jpeg");
                        
                        background-repeat: no-repeat;
                        
                        
                        }
                        body{
    
    
                            background-repeat: no-repeat;
                            
                            }
                            
                            .fondoingles{
                            
                                background-image: url("fondoing.jpeg");
                                
                                background-repeat: no-repeat;
                                
                                
                                }

                                body{
    
    
                                    background-repeat: no-repeat;
                                    
                                    }
                                    
.fondobio{
                                    
background-image: url("fondobio.jpeg");
                                        
 background-repeat: no-repeat;
height: 3000px;                               
                                        
 }


body{
    
background-repeat: no-repeat;
                                            
 }
                                            
 .fondomate{
                                            
background-image: url("fondomate.jpeg");
height: 4000%;                                          
 background-repeat: no-repeat;
height: 3000px;                            
                                                
}

body{
    
    
    background-repeat: no-repeat;
    
    }
    
    .fondomate3{
    
        background-image: url("fondomate3.jpeg");
        
        background-repeat: no-repeat;
        height: 2000px;
        
        
}










body{
    
    
    background-repeat: no-repeat;
    
    }
    
    .fondosoci2{
    
        background-image: url("fondosoci2.jpg");
        
        background-repeat: no-repeat;
        height: 2000px;
        
        
}
.contenido{
height: 280px;
width: 100%;
position: absolute;
            
            top: 410px;
            
             
            
            }
            
             
            
            
            
            
            .textoing{
            
            text-align: justify;
            
            color: rgb(255, 255, 255);
            
            font-size: 18px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            
            
            
            }
            .contenido{

                height: 280px;
                
                width: 100%;
                
                position: absolute;
                
                top: 410px;
                
                 
                
                }
                
                 
                
                .imagenmate{
                
                 
                
                background-repeat: no-repeat;
                
                float:left;
                
                height: 290px;
                
                width: 230px;
                
                margin-left: 5px;
                
                margin-right:5px;
                
                background-image: url("baldor.jpeg");
                
                }
                
                
                
                .textomate{
                
                text-align: justify;
                
                color: rgb(0, 0, 0);
                
                font-size: 18px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                width: 90%;
                
                
                }











                  
                .contenido{

                    height: 280px;
                    
                    width: 100%;
                    
                    position: absolute;
                    
                    top: 410px;
                    
                     
                    
                    }
                    
                     
                    .imagensoci{

 

                        background-repeat: no-repeat;
                        
                        float: left;
                        
                        height: 800px;
                        
                        width: 90%;
                        
                        margin-left: 5px;
                        
                        margin-right:5px;
                        
                        background-image: url("diagrama2.png");
                        
                        } 
                    
        
                    

                    .textosoci{
                    
                    text-align: justify;
                    
                    color: rgb(255, 255, 255);
                    
                    font-size: 34px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    text-align: center;
                    
                    }                
                    .titulo{
                        background-image: url(titulo.png);
                        background-repeat: no-repeat;
                        float: left;
                        height: 190px;
                        width: 80%;
                        margin:  20px
                    
                    }
.textosoci2{
    text-align: justify;
    
    color: rgb(0, 0, 0);
    width: 99%;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
}

    
    
    
    
    
    
    .fondoinicio2{
    
        background-image: url("flor.png");
        
        background-repeat: no-repeat;
        height: px;
    }
                    
      body

    .fondotec3{
                                    
        background-image: url("fondotec3.jpg");
                                                
         background-repeat: no-repeat;
        height: 5000px;                               
                                                
         }
body

         .fondoing3{
                                    
            background-image: url("fondoing3.jpeg");
                                                    
             background-repeat: no-repeat;
            height: 3000px;                               
                                                    
             }
    
body 
.fondosoci3{

    background-image: url("fondosoci3.jpg");
                                                    
             background-repeat: no-repeat;
            height: 3000px;                               
                                                    
             }

             body 
             .fondomate3{
             
                 background-image: url("fondomate3.jpg");
                                                                 
                          background-repeat: no-repeat;
                         height: 3500px;                               
                                                                 
                          }
                          
                          body
                          .imagensoci3{
                
                 
                
                            background-repeat: no-repeat;
                            
                            float:left;
                            
                            height: 290px;
                            
                            width: 230px;
                            
                            margin-left: 5px;
                            
                            margin-right:5px;
                            
                            background-image: url("REVOLUCIÓN\ INDUSTRIAL\ \(2\).png");
                            
                            }
body
                            .imagenmate3{
                
                 
                
                                background-repeat: no-repeat;
                                
                                float:left;
                                
                                height: 290px;
                                
                                width: 230px;
                                
                                margin-left: 5px;
                                
                                margin-right:5px;
                                
                                background-image: url("cuadradomate.jpg");
                                
                                }  
                                body
                                .imagenmate3{
                
                 
                
                                    background-repeat: no-repeat;
                                    
                                    float:left;
                                    
                                    height: 290px;
                                    
                                    width: 230px;
                                    
                                    margin-left: 5px;
                                    
                                    margin-right:5px;
                                    
                                    background-image: url("cuadradomate2.jpg");
                                    
                                    } 
                                    body
                                    .imagenmate3{
                
                 
                
                                        background-repeat: no-repeat;
                                        
                                        float:left;
                                        
                                        height: 290px;
                                        
                                        width: 230px;
                                        
                                        margin-left: 5px;
                                        
                                        margin-right:5px;
                                        
                                        background-image: url("cuabomate.jpg");
                                        
                                        } 
                                        .imagenmate3{
                
                 
                
                                            background-repeat: no-repeat;
                                            
                                            float:left;
                                            
                                            height: 290px;
                                            
                                            width: 230px;
                                            
                                            margin-left: 5px;
                                            
                                            margin-right:5px;
                                            
                                            background-image: url("cubomate2.jpg");
                                            
                                            } 
body
                                            
  .imagentec3{
    background-repeat: no-repeat;
                                            
    float:left;
    
    height: 400px;
    
    width: 330px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("cartastec3.jpg");
    

  }                                          
body
  .imagentec{
    background-repeat: no-repeat;
                                            
    float:left;
    
    height: 400px;
    
    width: 330px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("teleftec3.jpg");
    




  }

.imagentec3{
    background-repeat: no-repeat;
                                            
    float:left;
    
    height: 400px;
    
    width: 330px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("telefstec3.jpg");
    

}


.imagentec3{

    background-repeat: no-repeat;
                                            
    float:left;
    
    height: 400px;
    
    width: 330px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("celucostec3.jpg");
    

}




